html {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-attachment: fixed; 
  min-height: 100dvh;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner-element {
    position: fixed; 
    top: 0;
    right: 0;
    padding: 15px;
    background-color: aliceblue;
    border-bottom-left-radius: 10px;
    z-index: 9999;
    text-decoration: none; 
    font-family: "Zain", sans-serif;
}

.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}