body {
  width: 80%; 
  height: 70%;
  margin: 0;
  border: 5px solid #F2F0EF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;

}

h1 {
    width: fit-content;
    line-height: 1;
    color: #F2F0EF;
    font-size: 120px;
    font-family: 'Zain', sans-serif;
    font-weight: 700;
    font-style: italic;

    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

p {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 18px;
}

form {
  flex: 0 1 calc(28% - 20px); 
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  background-color: #F2F0EF; 
  gap: 8px; 
  padding: 6px; 
  width: fit-content; 
  border-radius: 8px;
  align-items: center;
}

label {
  font-size: 18px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.row-full {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.options-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  text-align: left;
  gap: 8px;
  margin: 30px;
}