{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>number two</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'analysis/global.css' %}" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>
<body>

    <nav>

        <!-- This div will be pinned to the top right via CSS -->
        <div class="corner-element">
            {% if request.resolver_match.url_name != 'sign_in_up' and request.resolver_match.url_name != 'account' %}
                {% if user.is_authenticated %}
                    <!-- Logged In State -->
                    <a href="{% url 'account' %}" class="user-link">
                        Привет, <strong>{{ user.username }}</strong>!
                    </a>
                {% else %}
                    <!-- Guest State -->
                    <a href="{% url 'sign_in_up' %}" class="user-link">
                        Войти / Зарег.
                    </a>
                {% endif %}
            {% endif %}
        </div>


    </nav>

    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert {{ message.tags }}" id="message-{{ forloop.counter }}">
                    <span>{{ message }}</span>
                    <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>